# IDEA
.idea
*.iml
*.ipr
*.iws
out

# Eclipse
.classpath
.project
.settings/
.springBeans
bin
atlassian-ide-plugin.xml

# Gradle
.gradle
build
/build

# Maven
target
dist
node
log/
target/
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next

#SVN
.svn
/build/
/bin/

#EAF
database/

#JRebel
rebel.xml

#MISC
dependency-reduced-pom.xml
*.sw[op]
.DS_Store
/data/
tmp/
classes/
*.log
/logs/
work/
.bower-*
dist/
node_modules/
bower_components/
jspm_packages/
.tmp/